extends ../layouts/default

block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			p: a(href='/trades') &larr; back to trades
			hr
			if !data.trade
				h2 This trade doesn't exist!			
			else
				header
					h1= data.trade.title
					h5 Posted 
						if data.trade.publishedDate
							| on #{data.trade._.publishedDate.format('MMMM Do, YYYY')} 
						if data.trade.author
							| by #{data.trade.author.name.first}
				.post
					if data.trade.image.exists
						.image-wrap: img(src=data.trade._.image.fit(750, 450)).img-responsive

					table.table 
						thead
							tr
								th Direction
								th Symbol
								th Bought Date
								th Bought Price
								th Sold Date
								th Sold Price
								th Percent Change
						tbody
							tr
								td #{data.trade.content.direction}
								td #{data.trade.content.symbol}
								td #{data.trade._.content.boughtDate.format('MM/DD/YYYY')}
								td #{data.trade._.content.boughtPrice.format()}
								td #{data.trade._.content.soldDate.format('MM/DD/YYYY')}
								td #{data.trade._.content.soldPrice.format()}

								td #{data.trade.content.percentChange}
					.well 
						!= data.trade.content.notes